
@{
    ViewData["Title"] = "Контакты";
}

<h1>Контакты</h1>

<div class="row mt-3">
    <div class="col-md-6 mb-3">
        <div class="card h-100 border-0 bg-light">
            <div class="card-body">
                <h5 class="card-title">Расписание работы храма:</h5>
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr>
                            <td>Храм работает ежедневно кроме понедельника</td>
                            <td class="text-right"><span class="badge badge-dark badge-pill">с 10:00 до 13:00</span></td>
                        </tr>
                        <tr>
                            <td>В дни богослужений</td>
                            <td class="text-right"><span class="badge badge-dark badge-pill">с 8:00 до 14:00</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-3">
        <div class="card h-100 border-0 bg-light">
            <div class="card-body">
                <h5 class="card-title">Контактные телефоны:</h5>
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr>
                            <td>дежурный</td>
                            <td class="text-right"><span class="badge badge-dark badge-pill">8-910-521-59-79</span></td>
                        </tr>
                        <tr>
                            <td>о. Георгий</td>
                            <td class="text-right"><span class="badge badge-dark badge-pill">8-910-911-35-48</span></td>
                        </tr>
                        <tr>
                            <td>о. Сергий</td>
                            <td class="text-right"><span class="badge badge-dark badge-pill">8-910-516-36-86</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-2 mb-3">
        <div class="card h-100 border-0 bg-light">
            <div class="card-body">
                <h5 class="card-title">Соцсети:</h5>
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr>
                            <td>
                                <a class="btn btn-light text-white bg-dark rounded-circle d-flex align-items-center justify-content-center" style="width:40px; height:40px" href="https://vk.com/public164431454" target="_blank">
                                    <i class="fab fa-vk" style="font-size:large"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-12 mb-3">
        <div class="card h-100 border-0 bg-light">
            <div class="card-body">
                <h5 class="card-title">Адрес храма:</h5>
                <table class="table table-sm table-borderless">
                    <tbody>
                        <tr>
                            <td>249210, Калужская обл., пос. Бабынино, Базарная пл., 1</td>                            
                        </tr>
                        <tr>
                            <td>
                                <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A1d0793ef598f25d7215812b0a3e84c9679b974f4203d05675f906ba4125cddb3&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


