@model IEnumerable<mvcHramPosts.Models.image>

@foreach (var image in Model)
{
    if (image.ID == Model.First().ID)
    {
        <div class="carousel-item active text-center">
            <img class="img-fluid rounded" style="max-height:99vh" src="@image.url">
        </div>
    }
    else
    {
        <div class="carousel-item text-center">
            <img class="img-fluid rounded" style="max-height:99vh" src="@image.url">
        </div>
    }
}