@model mvcHramPosts.Models.post

@{
    ViewData["Title"] = "Редактировать публикацию";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    @*Заголовок страницы*@
    <h1></h1>
    @*Кнопки сохранения и отмены*@
    <div class="form-group mb-0">
        <a asp-area="Control" asp-controller="posts" asp-action="Index" class="btn btn-link">Отмена</a>
        <input type="button" value="Сохранить" class="btn btn-primary" onclick="$('#description').val($('#description_fake').html()); $('#content').val($('#content_fake').html()); $('#form').submit()" />
    </div>
</div>

<hr class="mt-1" />
<form id="form" asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-2">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home">Обложка</a>
                <a class="list-group-item list-group-item-action" id="list-content-list" data-toggle="list" href="#list-content">Содержимое</a>
            </div>
        </div>
        <div class="col-md-10 mt-3 mt-md-0">
            <div class="tab-content" id="nav-tabContent">
                @*Обложка публикации*@
                <div class="tab-pane fade show active" id="list-home">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label asp-for="title" class="control-label"></label>
                                <input asp-for="title" class="form-control" />
                                <span asp-validation-for="title" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="description" class="control-label"></label>
                                <input asp-for="description" class="form-control" hidden />
                                <div id="description_fake" class="form-control h-auto" contenteditable="true"></div>
                                <span asp-validation-for="description" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <div class="form-check">
                                    <input asp-for="published" class="form-check-input bg-dark" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">Опубликовать</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label asp-for="type" class="control-label"></label>
                                <select asp-for="type" asp-items="Html.GetEnumSelectList<type>()" class="form-control"></select>
                                <span asp-validation-for="type" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="cover_image" class="control-label"></label>
                                <input asp-for="cover_image" class="form-control" oninput="$(this).next().next().attr('src', $(this).val())" />
                                <span asp-validation-for="cover_image" class="text-danger"></span>
                                <img id="cover" class="card-img mt-3" />
                            </div>                            
                        </div>
                    </div>
                </div>
                @*Содержимое публикации*@
                <div class="tab-pane fade" id="list-content">
                    <div class="form-group">
                        <partial name="_editor" />
                    </div>
                    <div class="form-group">
                        <label asp-for="content" class="control-label"></label>
                        <input asp-for="content" class="form-control" hidden />
                        <div id="content_fake" class="form-control h-auto" contenteditable="true"></div>
                        <span asp-validation-for="content" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        //Загружаем данные из скрытых полей в редактируемые поля
        $(document).ready(function () {
            $('#description_fake').html($('#description').val());
            $('#content_fake').html($('#content').val());
            $('#cover').attr('src', $('#cover_image').val());
        });
        ///*Функция, которая очищает формат*/
        //var clear_formate = function () {
        //    var selectedElement = window.getSelection().focusNode.parentNode;
        //    $(selectedElement).removeAttr();
        //};
        //// Переменная, в которой хранится выделенный объект
        //var range;
        //// Функция вставки картинки или любого другого объекта в редактор
        //var insert_object = function (jq_editor, jq_object) {
        //    if (range.startContainer.id === $(jq_editor).attr('id') || range.startContainer.parentNode.id === $(jq_editor).attr('id') || range.startContainer.parentNode.parentNode.id === $(jq_editor).attr('id')) {
        //        // Создаём картинку для вставки
        //        $(range).focus();
        //        range.deleteContents();
        //        var el = document.createElement("div");
        //        el.innerHTML = $(jq_object).prop('outerHTML');
        //        range.insertNode(el.children[0]);
        //    }
        //}
    </script>
}
