
@{
    Layout = null;
}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
      asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
      crossorigin="anonymous"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">





<div class="d-flex position-fixed" style="top:0; width:100%">
    <div class="bg-dark p-3">
        <p>Навигация</p>
    </div>
    <div class="position-fixed bg-primary p-3" style="flex-grow:1">
        <p>Заголовок</p>
    </div>
    <div class="bg-light p-3" style="flex-grow:1">        
        <div class="row no-gutters bg-light position-relative mb-3 rounded">
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="https://i.artfile.ru/2048x1321_1142946_[www.ArtFile.ru].jpg" class="w-100" alt="...">
            </div>
            <div class="col-md-6 position-static p-4 pl-md-0">
                <h5 class="mt-0">Columns with stretched link</h5>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                <a href="#" class="stretched-link">Go somewhere</a>
            </div>
        </div>
        <div class="row no-gutters bg-light position-relative mb-3 rounded">
            <div class="col-md-6 position-static p-4 pr-md-0">
                <h5 class="mt-0">Columns with stretched link</h5>
                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                <a href="#" class="stretched-link">Go somewhere</a>
            </div>
            <div class="col-md-6 mb-md-0 p-md-4">
                <img src="https://i.artfile.ru/2048x1321_1142946_[www.ArtFile.ru].jpg" class="w-100" alt="...">
            </div>
        </div>
    </div>
</div>




















<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
        asp-fallback-test="window.jQuery"
        crossorigin="anonymous"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
        asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
        asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
        crossorigin="anonymous"
        integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
</script>
<script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.js"></script>